
<div style="text-align:center" class=" mt-5">

      <div class="input_box container">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" placeholder="Insert the name" required>
      </div>
      
      <h1>Body Composition</h1>
      

        <div class="input_box">
          <label for="bodyFat">Body Fat:</label>
          <input type="number" id="bodyFat" formControlName="bodyFat" placeholder="Insert your body fat" required>
        </div>
        <div class="input_box">
          <label for="bodyMass">Body Mass:</label>
          <input type="number" id="bodyMass" formControlName="bodyMass" placeholder="Insert your body mass" required>
        </div>
        <div class="input_box">
          <label for="bodyWanter">Body Water:</label>
          <input type="number" id="bodyWanter" formControlName="bodyWanter" placeholder="Insert your body water" required>
        </div>
        <div class="input_box">
          <label for="weightBone">Weight Bone:</label>
          <input type="number" id="weightBone" formControlName="weightBone" placeholder="Insert your weight bone" required>
        </div>
      </div>

      <h1>Body Measurements</h1>
      

        <div class="input_box">
          <label for="measureChest">Chest Measurement:</label>
          <input type="number" id="measureChest" formControlName="measureChest" placeholder="Insert your chest measurement" required>
        </div>
        <div class="input_box">
          <label for="measureShoulders">Shoulders Measurement:</label>
          <input type="number" id="measureShoulders" formControlName="measureShoulders" placeholder="Insert your shoulders measurement" required>
        </div>
        <div class="input_box">
          <label for="measureLeftArm">Left Arm Measurement:</label>
          <input type="number" id="measureLeftArm" formControlName="measureLeftArm" placeholder="Insert your left arm measurement" required>
        </div>
        <div class="input_box">
          <label for="measureRightArm">Right Arm Measurement:</label>
          <input type="number" id="measureRightArm" formControlName="measureRightArm" placeholder="Insert your right arm measurement" required>
        </div>
        <div class="input_box">
          <label for="measureLeftForeArm">Left Forearm Measurement:</label>
          <input type="number" id="measureLeftForeArm" formControlName="measureLeftForeArm" placeholder="Insert your left forearm measurement" required>
        </div>
        <div class="input_box">
          <label for="measureRightForeArm">Right Forearm Measurement:</label>
          <input type="number" id="measureRightForeArm" formControlName="measureRightForeArm" placeholder="Insert your right forearm measurement" required>
        </div>
        <div class="input_box">
          <label for="measureAbs">Abs Measurement:</label>
          <input type="number" id="measureAbs" formControlName="measureAbs" placeholder="Insert your abs measurement" required>
        </div>
        <div class="input_box">
          <label for="measureLeftThigh">Left Thigh Measurement:</label>
          <input type="number" id="measureLeftThigh" formControlName="measureLeftThigh" placeholder="Insert your left thigh measurement" required>
        </div>
        <div class="input_box">
          <label for="measureRightThigh">Right Thigh Measurement:</label>
          <input type="number" id="measureRightThigh" formControlName="measureRightThigh" placeholder="Insert your right thigh measurement" required>
        </div>
        <div class="input_box">
          <label for="measureLeftCalf">Left Calf Measurement:</label>
          <input type="number" id="measureLeftCalf" formControlName="measureLeftCalf" placeholder="Insert your left calf measurement" required>
        </div>
        <div class="input_box">
          <label for="measureRightCalf">Right Calf Measurement:</label>
          <input type="number" id="measureRightCalf" formControlName="measureRightCalf" placeholder="Insert your right calf measurement" required>
        </div>


      <div class="btn-box">
        
        <button class="btn btn-primary w-40 mx-2 mt-2"[routerLink]="['']" routerLinkActive="router-link-active" >Back</button>
      </div>


